body, .form-select, .form-control {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--bs-secondary-color);
}

h1 {
  font-weight: 200;
  color: var(--bs-body-color);
}

.card, .list-group-item {
  color: var(--bs-secondary-color);
}

@media (min-width: 1200px) {
  .container-lg {
      max-width: 1000px;
  }
}